@charset "utf-8";
.main {
	
	text-align:center;
	width: 1024px;
	background-color:#FDA3A5;
	margin:auto;
	margin-top:10%;
	border:1px solid #000000;
}

.header {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:20px;
	padding-top: 10px;
}

.content {
	text-align:left;
	font-size:16px;
	padding-left: 10px;
}

.footer {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:14px;
	color:#5C50FB;
}

	
